.App {
  text-align: center;
}

#landingImg{
  height:100vh;
  background: url("/images/landing.jpg");
  background-size: cover;
  background-position: center;
  color: aliceblue
}

#logo{
  height: 100%;
  width: auto;
}

#layer{
  background-color: rgb(3,3,3,0.6);
  height: 100vh;
}
